<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VisionAPI" value="22e0cae7fc544bfdba6882a552720ad2" />
    <add key="SpeechAPI" value="17d0906d6ba84c4eae527f6232f332ff" />
    <add key="SearchAPI" value="8d6900b6c7b84b2cb79bf8fd50be4910" />
    <add key="AutosuggestAPI" value="4ce8f9a9fd1148afb815f951ae9bd5ab" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>